In [2]:
import pandas as pd

In [9]:
df=pd.read_parquet('green_tripdata_2024-08.parquet')

In [5]:
!pip3 install pyarrow

Requirement already satisfied: pyarrow in /home/ubuntu/anaconda3/lib/python3.13/site-packages (21.0.0)

In [8]:
!pwd

/home/ubuntu/MLOps-ZoomCamp/notebooks/data

In [10]:
df

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2024-08-01 00:16:00,2024-08-01 00:35:20,N,1.0,65,228,1.0,2.85,19.80,1.0,0.5,0.00,0.0,NaN,1.0,22.30,2.0,1.0,0.00
1,2,2024-08-01 00:03:29,2024-08-01 00:09:21,N,1.0,74,74,1.0,0.58,7.20,1.0,0.5,0.00,0.0,NaN,1.0,9.70,2.0,1.0,0.00
2,2,2024-08-01 00:27:39,2024-08-01 01:07:55,N,1.0,129,83,1.0,1.54,33.10,1.0,0.5,0.00,0.0,NaN,1.0,35.60,2.0,1.0,0.00
3,2,2024-08-01 00:21:35,2024-08-01 00:39:39,N,1.0,66,90,1.0,4.57,22.60,1.0,0.5,5.57,0.0,NaN,1.0,33.42,1.0,1.0,2.75
4,2,2024-08-01 00:35:09,2024-08-01 00:46:49,N,1.0,129,112,1.0,3.63,17.70,1.0,0.5,0.00,0.0,NaN,1.0,20.20,1.0,1.0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51766,2,2024-08-31 20:58:00,2024-08-31 21:25:00,None,NaN,223,132,NaN,13.50,49.64,0.0,0.0,10.03,0.0,NaN,1.0,60.67,NaN,NaN,NaN
51767,2,2024-08-31 21:39:00,2024-08-31 21:56:00,None,NaN,129,7,NaN,1.78,17.86,0.0,0.0,3.00,0.0,NaN,1.0,21.86,NaN,NaN,NaN
51768,2,2024-08-31 22:59:00,2024-08-31 23:19:00,None,NaN,255,65,NaN,3.27,23.95,0.0,0.0,4.89,0.0,NaN,1.0,29.84,NaN,NaN,NaN
51769,2,2024-08-31 22:26:00,2024-08-31 22:42:00,None,NaN,244,41,NaN,2.50,20.09,0.0,0.0,0.00,0.0,NaN,1.0,21.09,NaN,NaN,NaN
51770,1,2024-08-31 23:28:00,2024-08-31 23:42:08,None,NaN,74,151,NaN,2.20,13.50,1.0,0.5,0.80,0.0,NaN,1.0,16.80,NaN,NaN,NaN

In [11]:
df['duration'] = df.lpep_dropoff_datetime - df.lpep_pickup_datetime

In [13]:
df.duration.dtypes

dtype('<m8[us]')

In [14]:
df.duration = df.duration.apply(lambda td :td.total_seconds()/60)

In [15]:
df

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,duration
0,2,2024-08-01 00:16:00,2024-08-01 00:35:20,N,1.0,65,228,1.0,2.85,19.80,...,0.5,0.00,0.0,NaN,1.0,22.30,2.0,1.0,0.00,19.333333
1,2,2024-08-01 00:03:29,2024-08-01 00:09:21,N,1.0,74,74,1.0,0.58,7.20,...,0.5,0.00,0.0,NaN,1.0,9.70,2.0,1.0,0.00,5.866667
2,2,2024-08-01 00:27:39,2024-08-01 01:07:55,N,1.0,129,83,1.0,1.54,33.10,...,0.5,0.00,0.0,NaN,1.0,35.60,2.0,1.0,0.00,40.266667
3,2,2024-08-01 00:21:35,2024-08-01 00:39:39,N,1.0,66,90,1.0,4.57,22.60,...,0.5,5.57,0.0,NaN,1.0,33.42,1.0,1.0,2.75,18.066667
4,2,2024-08-01 00:35:09,2024-08-01 00:46:49,N,1.0,129,112,1.0,3.63,17.70,...,0.5,0.00,0.0,NaN,1.0,20.20,1.0,1.0,0.00,11.666667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51766,2,2024-08-31 20:58:00,2024-08-31 21:25:00,None,NaN,223,132,NaN,13.50,49.64,...,0.0,10.03,0.0,NaN,1.0,60.67,NaN,NaN,NaN,27.000000
51767,2,2024-08-31 21:39:00,2024-08-31 21:56:00,None,NaN,129,7,NaN,1.78,17.86,...,0.0,3.00,0.0,NaN,1.0,21.86,NaN,NaN,NaN,17.000000
51768,2,2024-08-31 22:59:00,2024-08-31 23:19:00,None,NaN,255,65,NaN,3.27,23.95,...,0.0,4.89,0.0,NaN,1.0,29.84,NaN,NaN,NaN,20.000000
51769,2,2024-08-31 22:26:00,2024-08-31 22:42:00,None,NaN,244,41,NaN,2.50,20.09,...,0.0,0.00,0.0,NaN,1.0,21.09,NaN,NaN,NaN,16.000000
51770,1,2024-08-31 23:28:00,2024-08-31 23:42:08,None,NaN,74,151,NaN,2.20,13.50,...,0.5,0.80,0.0,NaN,1.0,16.80,NaN,NaN,NaN,14.133333